* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

.carousel-control-prev span {
    margin-right: 95px;
}
.carousel-control-next span {
    margin-left: 95px;
}
